name: Publish
"on":
    push:
        branches:
            - main
        paths:
            - RELEASES.md
jobs:
    publish:
        uses: speakeasy-api/sdk-generation-action/.github/workflows/sdk-publish.yaml@3fdab59e74dda7831d7401f7aa1bb55d706913d7 # v15
        secrets:
            github_access_token: ${{ secrets.GITHUB_TOKEN }}
            npm_token: ${{ secrets.NPM_TOKEN }}
            speakeasy_api_key: ${{ secrets.SPEAKEASY_API_KEY }}
